@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="username" @bind-Value="loginModel.Username" placeholder="Username" />
    <InputText id="password" @bind-Value="loginModel.Password" type="password" placeholder="Password" />

    <button type="submit">Log in</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async void HandleValidSubmit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity.IsAuthenticated)
        {
            // TODO: Implement authentication logic here
        }
    }

    private class LoginModel
    {
        [Required]
        [StringLength(100)]
        public string Username { get; set; }

        [Required]
        [StringLength(100, MinimumLength = 10)]
        public string Password { get; set; }
    }
}